<div>

	<div class="main-pic">
	 <!-- <slick infinite=true slides-to-show=3 slides-to-scroll=3> -->



		<img ng-src="https://www.protest.eu/app/uploads/2015/10/hero-1-1500x0-c-default.jpg">

		<h1><span>Our mission is to let you ride more</span></h1>

		<!-- <img ng-src="./images/look_158447-1400x0-c-default.jpeg">


		<img ng-src="./images/Shirts1-420x560-c-default.jpg">


		<img ng-src="./images/look_158426-1300x0-c-default.jpeg">

    </slick> -->

	</div>

</div>


<section class="three-container" >
	<section ng-repeat="product in products" class="third">
		<product-dir product="product"></product-dir>
	</section>
</section>






