<section class="product-main">
<div class="top-section">
	<div class="quick-views">
	<!-- <img ng-click="image='./images/2720561_340-lbox-80x80-fff.jpeg'" src="./images/2720561_340-lbox-80x80-fff.jpeg">
	<img ng-click="image='./images/2720561_340_model1-lbox-80x80-fff.jpeg'" src="./images/2720561_340_model1-lbox-80x80-fff.jpeg">
	<img src="./images/2720561_340_model2-lbox-80x80-fff.jpeg">
	<img src="./images/2720561_340_model3-lbox-80x80-fff.jpeg"> -->

	<div ng-repeat="sideImage in product.sideImages track by $index">
		<img ng-click="changeImage(sideImage)" src="{{sideImage}}">
	</div>


	</div>

	<div class='big-view'>
	<img src="{{image}}">
	</div>

	<div class="info-right">
	<h3>{{product.title}}</h3>
	<p>{{product.price}}</p>
	<button ng-click="addToCart(product)">Add to Cart</button>
	</div>

</div>

	<div class="description">
		<div class="left-info">
		<h3>Info & Specs</h3>
		<p>This is all of the info about the product</p>
		</div>

		<div class="top-right-info">
		<h3>Material & Care</h3>
		<p>100% Cotton</p>
		</div>

		<div class="bottom-right-info">
		<h3>Machine Washable</h3>
		<p>Do not bleach, Do not tumble dry, Iron at 1 dot inside out, Wash inside out 30°C</p>
		</div>
	</div>

	<div class="fit">
		<h2>General Fit</h2>

	</div>

	<div class="look">
		<h1>Complete the Look</h1>
	</div>

	<div class="look-img">
		<img src="./images/look_158420-1300x0-c-default.jpeg">
	</div>

	<three></three>
	<three></three>

</section>

<!-- title: {type: String, unique: true, required: true},
	description: {type: String, required: true},
	price: {type: Number, required: true, min: 0},
	category: {type: String, required: true} -->