.header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 61px;
	background-color: white;
	position: relative;
}

.menu {
	box-sizing: border-box;
	display: flex;
	float: left;
	position: relative;
	border-right: 1px solid black,
	cursor: pointer;
	background-color: white;
	width: 8vw;
	justify-content: center;
	align-items: center;
}

.men {
	box-sizing: border-box;
	display: flex;
	float: left;
	position: relative;
	border-right: 1px solid black,
	cursor: pointer;
	background-color: white;
	width: 6vw;
	justify-content: center;
	align-items: center;
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 50px;
}

.login {
	box-sizing: border-box;
	display: block;
	clear: left;
	float: right;
	position: absolute;
	right: 0;
	border: 1px solid white,
	cursor: pointer;
	background-color: white;
	width: 12vw;
	height: 100%;
	justify-content: space-between;
	padding-top: 21px;
}

.footer{
	display: flex;
	flex-direction: column;
	padding-top: 75px;
	height: 500px;
	width: 100%;
	background-color: #213875;
	justify-content: space-around;
}

.info {
	width: 80%;
	height: 80%;
}

.footer p {
	color: white;
	display: inline-flex;
	padding: 0;
}

.line{
	border-bottom: 1px solid gray;
	width: 80%;
	height: 1px;
	margin: 100px auto 30px auto;
	}

.footer li {
	color: white;
}























.one-container {
	display: flex;
	width: 100%;
	height: 600px;
	background-color: gray;
	justify-content: center;
}

.left {
	width: 60%;
	height: 580px;
	padding: 30px;
}

.right {
	width: 30%;
	height: 580px;
}

.three-left {
 	height: 580px;
 	justify-content: flex-end;
	flex-wrap: wrap;
 }

.col-md-3 img{

}
.three-container {
	display: flex;
	width: 100%;
	height: 600px;
	background-color: white;
	justify-content: center;
}
 .col-md-3 three-left {
 	height: 580px;
 }
 .col-md-3 three-middle {
 	height: 580px;
 }

.col-md-3 three-right {
	height: 580px;
}
.two-container {
	display: flex;
	width: 100%;
	height: 600px;
	background-color: red;
	justify-content: center;
}
 .col-md-3 two-left {
 	height: 580px;
 }
 .col-md-3 two-middle {
 	height: 580px;
 }

.col-md-3 two-right {
	height: 580px;
}


.cart {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 600px;
}

.col-md-3 cart {
	height: 580px;
}
.main-pic img{
	width: 100%;
}

.three-container {
	display: flex;
	/*width: 30%;*/
	height: 600px;
	background-color: white;
}

.third {
	width: calc(100% / 3);
}

.parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 170px;
}

.login-bar {
	width: 75%;
	height: 300px;
	align-items: flex-end;
	background: white;
}

.create-box {
	width: 75%;
	height: 300px;
	align-items: flex-end;
	background-color: white;
}



.product-main {

}

.top-section {
	display: flex;
	flex-direction: row;
}


.quick-views {
	margin-right: auto;
	flex-direction: column;
	display: flex;
	margin-top: 100px;
	margin-left: 30px;
}


.big-view {
	margin: auto;
}


.big-view img {
	height: 500px;
	width: 350px;
}


.info-right {
	margin-left: auto;
	margin-top: 100px;
	margin-right: 70px;
}


.description {
	display: flex;
	flex-direction: row;
}

.left-info {
	margin-right: auto;
}

.top-right-info {
	margin-left: auto;
	align-items: flex-start;
}

.bottom-right-info {
	margin-left: auto;
	align-items: flex-end;
}


.fit {
	display: flex;
	margin: auto;
}

.fit h2 {
	margin: auto;
}
.fit img{
	margin: auto;
}

.look {
	display: flex;
	margin: auto;
}

.look h1{
	margin: auto;
}

.look-img{
	margin: auto;
	display: flex;
}

.look-img img {
	margin: auto;
}












